/* Gerneral */
body {
  font-family: "Lato", sans-serif;
}

.search,
.mainLinks,
.navLine,
.wrapping,
.teaser {
  margin: 3%;
}

a,
.noTarget,
.footer a {
  text-decoration: none;
}

a,
.noTarget,
a.searchIcon {
  color: rgb(1, 157, 211);
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
.search,
.testList,
.quote,
.form {
  color: rgb(74, 82, 89);
}

.cancel,
.footer {
  background-color: rgb(74, 82, 89);
}

.quote,
.hrSpecial {
  margin-top: 15%;
}

.stageBox,
.sumit,
th {
  background-color: rgb(1, 157, 211);
}

.imgBIG,
.header,
.table,
.video {
  width: 100%;
}

.hr,
.contactImg {
  margin-top: 5%;
}

.lineBreak::after,
.lineBreakVariable::after {
  content: "\A";
  white-space: pre;
}

.search,
.grayBox,
.searchBox {
  background-color: rgb(244, 242, 243);
}

.headline,
.stage,
th,
.formButton,
.footer a,
.footer {
  color: white;
}

.mainLinks,
.form,
.wrapperContact,
.docArea,
.searchBox {
  display: grid;
}

.search,
.noTarget,
.formButton,
.hrSpecial {
  border: 0px;
}

.search,
.grayBox {
  padding-left: 3%;
}

.stageBox,
.footer {
  padding-left: 5%;
}

.navLine,
.linkList {
  padding-left: 0px;
}

.linkList,
.navLine li {
  list-style-type: none;
}
/* Main Navigation */

.searchBox {
  border-radius: 40px;
  width: 217px;
  position: relative;
  left: 25%;
  border-radius: 40px;
  margin-top: 3%;
}

.search:focus {
  outline: none;
}

.mainLinks,
.searchBox {
  grid-template-columns: 1fr 1fr;
}

a.searchIcon {
  font-size: 120%;
  padding-top: 2px;
}

/* Header */

.stage {
  display: block;
}

.stageBox {
  padding-top: 1%;
  padding-bottom: 10%;
}

.noTarget {
  background-color: white;
  padding: 2.5%;
}

.headerImgV2 {
  display: none;
}

/* Main Content */
.navLine {
  font-size: 80%;
}

.navLine li {
  display: inline;
}

.list {
  padding-left: 15px;
}

.table {
  border-collapse: collapse;
}

.frame {
  border: 1px solid silver;
  padding: 5px;
}

th {
  text-align: left;
}

.quote {
  font-size: 125%;
  line-height: 1.5rem;
  margin-left: 0px;
  margin: 0px;
}

.firstChar::before {
  content: '"';
  font-size: 500%;
  font-weight: bold;
  line-height: 1.5rem;
  position: relative;
  top: 47px;
}

.form {
  grid-template-columns: 1fr;
}

.formFrames {
  border: 1px solid;
  border-color: rgb(244, 242, 243);
  margin-bottom: 5%;
}

.formButton {
  padding: 2%;
}

.formCheckRadio {
  margin-bottom: 10%;
  grid-row-gap: 5%;
}

.wrapperContact {
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 20px;
}

/* Teaser */

.grayBox {
  padding-right: 3%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.hrSpecial {
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* Footer */

.footer {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Document Part */
.hr,
.fas,
.far {
  margin: 0px;
}

.fas,
.far {
  font-family: "FontAwesome";
  font-size: 350%;
  color: silver;
}

.docArea {
  grid-template-columns: 1fr 4fr;
}

.fa-file-word::before {
  content: "\f1c2";
}

.fa-file-excel::before {
  content: "\f1c3";
}

.fa-file-archive::before {
  content: "\f1c6";
}

.fa-file-image::before {
  content: "\f1c5";
}

.fa-file-pdf::before {
  content: "\f1c1";
}

.fa-file-video::before {
  content: "\f1c8";
}

.fa-file::before {
  content: "\f15b";
}

.hrBottom {
  margin-bottom: 40px;
}

@media screen and (min-width: 480px) {
  /* Main Navigation */
  .searchBox {
    left: 50%;
  }

  /* Header */
  .mainLinks {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Breafcrumb Navigation */
  .navLine {
    margin-top: 10%;
  }

  /* Main Content */
  .lineBreakVariable::after {
    display: none;
  }

  .imgFloat {
    width: 50%;
    float: left;
    padding-top: 3%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 600px) {
  /* Main Navigation */
  .searchBox {
    left: 60%;
  }

  /* Header */
  .mainLinks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Breafcrumb Navigation */
  .navLine {
    margin-top: 5%;
  }

  /* Main Content */
  .formButtonS,
  .teaserBox,
  .teaserGrid {
    display: grid;
  }

  .formButtonS {
    grid-template-columns: 1fr 2fr 7fr;
    grid-column-gap: 3%;
  }

  .formButtonS .lineBreak::after {
    display: none;
  }

  .formButtonS strong {
    display: flex;
    justify-content: right;
  }

  .formButton {
    padding: 8%;
  }

  /* Teaser Area */
  .grayBox img {
    width: 55%;
    float: left;
    padding-right: 5%;
    padding-top: 4%;
  }

  .grayBox {
    padding-top: 2%;
    padding-bottom: 100px;
  }

  .teaserBox,
  .teaserGrid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
  }

  .teaserGrid21 {
    display: none;
  }

  .hrSpecial {
    margin-top: 0px;
  }

  .teaserGrid {
    grid-row-gap: 5%;
  }

  .teaserGrid2 {
    padding-top: 13%;
  }

  .teaserGrid3 {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  /* Main Navigation */
  .searchBox {
    left: 65%;
  }
  .mainLinks {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 75%;
    margin-bottom: 1%;
  }

  /* Header */
  .headerImgV1 {
    display: none;
  }

  .headerImgV2 {
    display: flex;
  }

  .stage {
    position: absolute;
    height: 40%;
  }

  .stageBox {
    width: 35%;
    height: 130px;
    margin: 0px;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 5%;
    position: relative;
    opacity: 75%;
    left: 55%;
    bottom: 220px;
  }

  .main {
    margin-top: 35%;
  }

  .noTarget {
    display: flex;
    align-items: left;
    width: 60%;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .formCheckRadio {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 3%;
  }

  .contact {
    width: 50%;
  }

  .grayBox {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  /* Main Navigation */
  .searchBox {
    left: 70%;
    margin-top: 1%;
  }
  .mainLinks {
    width: 50%;
    margin-bottom: 1%;
  }

  /* Header */
  .stageBox {
    width: 30%;
    left: 57%;
    bottom: 60%;
  }

  .noTarget {
    width: 45%;
  }

  /* Main Content */
  .wrapping {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-column-gap: 5%;
  }

  .contact {
    width: 100%;
  }

  h2 {
    margin-top: 0px;
  }

  .grayBox {
    padding-bottom: 130px;
  }

  .linkList li {
    display: inline;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 6fr;
  }

  .teaserGrid22 {
    display: none;
  }

  .teaserGrid21 {
    display: flex;
  }
  .teaserGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .searchBox {
    left: 72%;
  }

  .mainLinks {
    width: 35%;
  }

  .headerImgV2 {
    width: 1280px;
    height: 400px;
    margin-left: 16%;
  }

  .search,
  .mainLinks,
  .navLine,
  .wrapping,
  .teaser {
    margin-left: 16%;
    margin-right: 16%;
  }

  .navLine {
    margin-top: 0px;
  }

  .main {
    margin-top: 28%;
  }

  .stage {
    background-color: rgb(1, 157, 211);
    padding-bottom: 9px;
  }

  .grayBox {
    padding-bottom: 300px;
    padding-left: 16%;
    padding-right: 16%;
  }

  .footer {
    padding-left: 16%;
    padding-right: 16%;
  }

  .hrSpecial {
    margin-left: 16%;
    margin-right: 16%;
  }

  .stageBox {
    width: 17%;
    left: 54%;
    bottom: 75%;
    padding-top: 25px;
    padding-bottom: 90px;
  }

  .imgFloat {
    padding-bottom: 10px;
  }
}
