/* Gerneral */
body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: rgb(74, 82, 89);
  font-weight: lighter;
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  color: rgb(74, 82, 89);
  font-weight: lighter;
  margin-bottom: 10px;
}

h3 {
  font-size: 25px;
  color: rgb(74, 82, 89);
  font-weight: lighter;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  color: rgb(74, 82, 89);
  font-weight: lighter;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: rgb(1, 157, 211);
  font-weight: bold;
}

.imgBIG {
  width: 100%;
}

.hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

.video {
  width: 100%;
}

.arrow2 {
  font-size: 10pt;
}

/* Main Navigation */
.searchBox {
  background-color: rgb(244, 242, 243);
  display: grid;
  grid-template-columns: 7fr 1fr;
  border-radius: 40px;
  width: 215px;
  margin-top: 5px;
  position: relative;
  left: 20%;
}

.search {
  margin: 5px;
  margin-right: 0px;
  border: 0px;
  padding-left: 4px;
  color: rgb(74, 82, 89);
  background-color: rgb(244, 242, 243);
}

.search:focus {
  outline: none;
}

.fas {
  font-family: "FontAwesome";
}

.fa-search {
  color: rgb(1, 157, 211);
  font-weight: bold;
  font-size: 120%;
  padding-top: 2px;
}

.mainLinks {
  width: 70%;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}

.mainLinks a {
  margin-right: 15px;
  margin-bottom: 5px;
}

/* Header Area */
.stage {
  width: 100%;
  color: white;
  display: block;
}

.headerImgV2 {
  display: none;
}

.stageBox {
  background-color: rgb(1, 157, 211);
  padding: 1px 0px 30px 15px;
}

.headline {
  color: white;
}

.noTarget {
  font-weight: bold;
  text-decoration: none;
  color: rgb(1, 157, 211);
  background-color: white;
  border: 0px;
  padding: 6px;
}

.arrow {
  padding-left: 40px;
}

/* Main Area */
/* Breadcrumb Navigation */
.navLine {
  margin: 15px;
  font-size: 80%;
  padding-left: 0px;
}

.navLine li {
  display: inline;
  list-style-type: none;
}

.testList {
  color: rgb(74, 82, 89);
}

/* Main Area */
/* Main Content */
.wrapping {
  margin: 15px;
}

.wrapping h2 {
  margin-top: 0px;
}

.list {
  padding-left: 15px;
}

/* Main Area */
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: rgb(1, 157, 211);
  color: white;
  text-align: left;
}

.frame {
  border: 1px solid silver;
  padding: 10px 10px 10px 5px;
}

/* Main Area */
/* Quote */
.quote {
  color: rgb(74, 82, 89);
  font-size: 130%;
  line-height: 1.5rem;
  margin: 0px 0px 50px 0px;
}

.firstChar::before {
  content: '"';
  font-size: 500%;
  font-weight: bold;
  line-height: 1.5rem;
  position: relative;
  top: 50px;
  right: 1%;
}

/* Main Area */
/* Form */
.form {
  color: rgb(74, 82, 89);
  display: grid;
  grid-template-columns: 1fr;
}

.fcrBox2 {
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 5px;
}

.fcrBox4 {
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
}

.formFrames {
  border: 1px solid;
  border-color: rgb(244, 242, 243);
  margin-bottom: 20px;
  padding: 4px;
}

.formCheckRadio {
  margin-bottom: 30px;
}

.formButtonS p {
  margin-top: 3px;
}

.sumit {
  background-color: rgb(1, 157, 211);
  margin-right: 8px;
}

.cancel {
  background-color: rgb(170, 170, 170);
}

.formButton {
  color: white;
  margin-top: 10px;
  border: 0px;
  padding: 7px;
}

/* Aside Area */
/* Contact */

.wrapperContact {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 20px;
  margin-top: 10px;
}

.contactImg {
  margin-top: 7px;
}

.lb {
  margin-top: 0px;
  margin-bottom: 0px;
}

.lbV2 {
  margin-top: 0px;
}

/* Aside Area */
/* Document Part */
.docType {
  margin-top: 45px;
}

.docArea {
  display: flex;
  align-items: center;
}

.svg {
  width: 55px;
  height: 75px;
  fill: silver;
  margin-right: 10px;
}

.svgSection hr {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Teaser Area */
.infoTeaser {
  margin-top: 50px;
}

.grayBox {
  background-color: rgb(244, 242, 243);
  padding: 30px 15px 15px 15px;
}

.teaser {
  margin: 15px;
}

.hrSpecial {
  margin-top: 60px;
  border: 0px;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* Footer Area */
.footer {
  background-color: rgb(74, 82, 89);
  color: white;
  margin-top: 90px;
  padding: 3px 0px 3px 15px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.linkList {
  padding-left: 0px;
  list-style-type: none;
}

@media screen and (min-width: 480px) {
  /* Main Navigation */
  .searchBox {
    left: 47%;
  }

  /* Header Area*/
  .noTarget {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .arrow {
    padding-left: 50px;
  }

  /* Main Area */
  /* Breafcrumb Navigation */
  .navLine {
    margin-top: 30px;
  }

  .imgFloat {
    width: 50%;
    float: left;
    padding: 7px 25px 0px 0px;
  }

  /* Main Area */
  /* Form */
  .formButtonS {
    display: inline;
  }

  .formButtonS p {
    display: flex;
    justify-content: right;
  }
}

@media screen and (min-width: 600px) {
  /* Main Navigation */
  .searchBox {
    left: 60%;
  }

  /* Header Area*/
  .arrow {
    padding-left: 40px;
  }

  /* Main Area */
  /* Main Content */

  .imgFloat {
    padding: 6px 25px 10px 0px;
  }

  /* Main Area */
  /* Form */
  .formButtonS {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  /* Teaser Area */
  .grayBox {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .grayBox img {
    width: 100%;
    padding-top: 25px;
  }

  .textFloat h3 {
    margin-top: 16px;
  }

  .teaserBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .hrSpecial {
    margin-top: 40px;
  }

  .teaserGrid {
    display: flex;
    flex-wrap: wrap;
  }

  .teaserGrid1 {
    display: flex;
    flex-wrap: nowrap;
  }

  .teaserGrid1 div {
    width: 50%;
  }

  .teaserGrid1 p {
    padding-top: 42px;
    padding-left: 25px;
  }

  .teaserGrid2 {
    width: 50%;
  }

  .teaserGrid3 {
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  /* Main Navigation */
  .searchBox {
    left: 67%;
  }

  /* Header Area*/
  .stage {
    position: relative;
  }

  .headerImgV1 {
    display: none;
  }

  .headerImgV2 {
    display: block;
  }

  .stageBox {
    width: 240px;
    height: 130px;
    padding-left: 35px;
    position: absolute;
    background: rgb(1, 157, 211, 0.75);
    left: 56%;
    bottom: 12.5%;
  }

  .stageBox p {
    margin-bottom: 3%;
  }

  .headline {
    font-size: 25px;
  }

  .arrow {
    padding-left: 60px;
  }

  /* Main Area */
  /* Form */
  .form {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .label {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 25px;
  }

  .formCheckRadio {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 30px;
  }

  .fcrBox2 {
    margin-top: 0px;
  }

  .fcrBox4 {
    margin-top: 0px;
  }

  /* Aside Area */
  /* Contact */

  .contact {
    width: 50%;
  }

  /* Teaser Area */
  .grayBox {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  /* Main Navigation */
  .searchBox {
    left: 75%;
    margin-top: 1%;
  }

  /* Header Area*/
  .stageBox {
    width: 320px;
    height: 170px;
    padding-left: 55px;
    left: 56.5%;
    bottom: 13%;
  }

  .headline {
    font-size: 37px;
    margin-bottom: 8%;
  }

  .wrapping {
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-column-gap: 30px;
  }

  .wrapping h2 {
    font-size: 40px;
  }

  .imgFloat {
    padding: 7px 25px 10px 0px;
  }

  /* Main Area */
  /* Main Content */
  .videoSection h3 {
    clear: both;
  }

  /* Main Area */
  /* Form */
  .form {
    grid-template-columns: 1fr 3fr;
  }

  .formCheckRadio {
    grid-template-columns: 1fr 3fr;
  }

  /* Aside Area */
  /* Contact */
  .contact {
    width: 100%;
  }

  .contact h4 {
    margin-top: 5px;
  }

  .aside {
    margin-right: 10px;
  }

  /* Teaser Area */

  .teaserGrid1 {
    width: 32%;
    height: 300px;
    display: block;
  }

  .teaserGrid1 div {
    width: 100%;
  }

  .teaserGrid1 p {
    padding-top: 32px;
    padding-left: 0px;
  }

  .teaserGrid2 {
    width: 32%;
    padding-left: 2%;
  }

  .teaserGrid2 p {
    margin-top: 3px;
  }

  .teaserGrid2 h4 {
    margin-bottom: 0px;
  }

  .teaserGrid3 {
    width: 32%;
    padding-left: 2%;
  }
  

  /* Footer Area */
  .footer {
    display: flex;
  }

  .pFooter {
    width: 190px;
  }

  .linkList li {
    display: inline;
  }
}

@media screen and (min-width: 1600px) {
  /* Main Navigation */
  .searchBox {
    left: 76%;
  }

  .mainLinks {
    margin: 20px 12% 20px 12%;
  }

  /* Header Area */
  .headerImgV2 {
    background-color: rgb(1, 157, 211);
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .stageBox {
    width: 400px;
    height: 220px;
    padding-left: 75px;
    left: 55%;
    bottom: 60px;
  }

  .headline {
    font-size: 47px;
  }

  .stageBox p {
    margin-bottom: 5%;
  }

  .noTarget {
    width: 35%;
    padding: 5px 0px 5px 0px;
  }

  .arrow {
    padding-left: 40px;
  }

  /* Main Area */
  /* Breadcrumb Navigation */
  .navLine {
    margin: 40px 12% 10px 12%;
  }

  .wrapping {
    margin: 0px 12% 10px 12%;
  }

  .imgFloat {
    padding-bottom: 10px;
  }

  /* Teaser Area */
  .grayBox {
    padding: 20px 12% 40px 12%;
  }

  .teaser {
    margin-left: 12%;
    margin-right: 12%;
  }
  .hrSpecial {
    margin-left: 12%;
    margin-right: 12%;
  }

  /* Footer Area */
  .footer {
    padding-left: 12%;
    padding-right: 12%;
  }
}
