body {
    font-family: "Lato";
}

a:link {
    color: rgb(60, 106, 190);
  }

.video {
    width: 100%;
}

.stageBox {
    background-color: rgb(60, 106, 190);
}

#mainNav, footer {
    background-color: rgb(223, 215, 109);
}

.stage {
    color: white;
    display: grid;
    grid-row-gap: 0px;
}

.stage {
    background-color: lightgray;
    margin: 3px;
    margin-bottom: 15px;
}

header, footer, article, aside, nav {
    margin: 3px;
}

.wrapperContact {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 20px;
}

.textContact {
    margin: 0px;
}

.linkList {
    list-style: none;
    padding-left: 0px;
}

.table {
    border-collapse: collapse;
    width: 90%;
    justify-content: center;
    margin-left: 5%;
    
}

.frame {
    border: 1px solid silver;
    padding: 5px;

}

th {
    background-color: rgb(60, 106, 190);
    color: white;
    text-align: left;
}

.quote:first-letter {
    font-size: 200%;
}

.imgBIG {
    width: 100%;
}

.grayBox {
    background-color: rgb(230, 230, 230);
}

.navLine li{
    display: inline;
    list-style-type: none;
}

.search {
    position: relative;
    left: 25%;
    width: 60%;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.mainLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
}

hr {
    width: 90%;
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 600px){
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 1024px){
}

@media screen and (min-width: 1600px){

    /* #main {
        width: 80%;
        display: grid;
        margin: auto;
    }

    #wrapping {
        display: grid;
        grid-template-columns: 3fr 1fr;
    } */

}

