header, footer {
    background-color: rgb(223, 215, 109);
    height: 300px;
}

section {
    background-color: darkgray;
    height: 300px;
}

nav, article, aside {
    background-color: cadetblue;
}

article, aside {
    height: 300px;
}

header, footer, article, aside, nav{
    margin: 3px;
}

section {
    margin: 3px;
    margin-bottom: 15px;
}

@media screen and (min-width: 1600px){

    #main {
        width: 80%;
        display: grid;
        margin: auto;
    }

    #wrapping {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

}

